body {
    background-image:url('webapp/france.png');
    background:repeat-y;
    position:relative;
}

#main-title-div {
    background-color:white;
    border-radius:2px;
    width:80%;
    height:auto;
    position:absolute;
    top:10%;
    left:50%;
}

#main-title-h {
    color:black;
    font-size:25px;
    font-weight:bold;
    font-family:"Orbitron", sans-serif;
}

#info-box {
    background-color:white;
    border-radius:2px;
    width:60%;
    height:70%;
    position:absolute;
    top:80%;
    left:50%;
    transform:translate(-50%, -50%);
}

#inf-fullname {
    color:black;
    font-weight:bold;
    font-family:"Orbitron", sans-serif;
}

#inf-age {
    color:darkblue;
    font-weight:normal;
    font-family:"Orbitron", sans-serif;
}

#inf-circon {
    color:white;
    padding:5px;
    background-color:black;
    font-weight:normal;
    font-family:"Orbitron", sans-serif;
}

#inf-party {
    color:darkred;
    font-weight:normal;
    font-family:"Orbitron", sans-serif;
}