{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Smash or Pass (The Bill) - Edition Assemblée Nationale</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'webapp/marianne.ico' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style='
    background-image: url("{% static "webapp/france.png" %}");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 110vh;
    margin: 0;
    font-family: "Orbitron", sans-serif;
'>
    <style>
        .icon-link {
        display: inline-block;
        text-decoration: none;
        transition: filter 0.2s ease, transform 0.1s ease;
        }

        .icon-link:focus {
        outline: 1px solid cyan;
        border-radius: 4px;
        }

        .icon-link img {
        display: block;
        }

        .icon-link:hover {
        filter:blur();
        transform: translateY(-1px);
        }

        .icon-link:active {
        transform: translateY(0); /* optional: reset hover motion */
        }
    </style>
    <!-- Main Title -->
    <div id="main-title-div" style="
        background-color: white;
        border-radius: 2px;
        width: 80%;
        height: 50px;
        position: absolute;
        top: 4%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
    ">
        <h1 id="main-title-h" style="
            text-decoration: underline;
            white-space: nowrap;
            color: black;
            font-size: 25px;
            font-weight: bold;
            margin: 0;
        ">
            SMASH or PASS (THE BILL) - Edition Assemblée Nationale
        </h1>
    </div>

    <div id="options-div" style="
        color:white;
        background-color: black;
        border-radius: 5px;
        width: 40%;
        height: 40px;
        position: absolute;
        top: 12.15%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;           /* enable flex layout */
        justify-content: space-around; /* spread contestants evenly */
        align-items: center; /* align at top */
        gap: 10%;               /* optional space between contestants */
        font-weight:bold;
        font-size:12px;
    ">
        <form id="gd_setting" method="POST" action="{% url 'choose_setting' %}">
                {% csrf_token %}
                <input type="hidden" name="gd_setting" value="women">
                <button style="width:50px; display: block; margin: 0px auto 0 auto;border:none;border-radius:2px;background-color:white;color:black;font-weight:bold;font-family:'Orbitron', sans-serif;font-size:15px;" type="submit"><i style="color:black;font-weight:bold;font-size:25px;" class="fa fa-venus"></i></button>
        </form>
        <form id="gd_setting" method="POST" action="{% url 'choose_setting' %}">
                {% csrf_token %}
                <input type="hidden" name="gd_setting" value="men">
                <button style="width:50px; display: block; margin: 0px auto 0 auto;border:none;border-radius:2px;background-color:white;color:black;font-weight:bold;font-family:'Orbitron', sans-serif;font-size:15px;" type="submit"><i style="color:black;font-weight:bold;font-size:25px;" class="fa fa-mars"></i></button>

        </form>
        <form id="gd_setting" method="POST" action="{% url 'choose_setting' %}">
                {% csrf_token %}
                <input type="hidden" name="gd_setting" value="mixt">
                <button style="width:50px; display: block; margin: 0px auto 0 auto;border:none;border-radius:2px;background-color:white;color:black;font-weight:bold;font-family:'Orbitron', sans-serif;font-size:15px;" type="submit"><i style="color:black;font-weight:bold;font-size:25px;" class="fa fa-venus-mars"></i></button>
        </form>
    </div>

    <div id="info-box" style="
    background-color: white;
    border-radius: 2px;
    width: 80%;
    max-height:650px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-sizing: border-box;

    display: flex;           /* enable flex layout */
    justify-content: space-around; /* spread contestants evenly */
    align-items: flex-start; /* align at top */
    gap: 20px;               /* optional space between contestants */
">
        <div id="contestant1" style="text-align: center;">
            <h1 style="color:darkblue;">{{firstInf.name}} {{firstInf.surname}}</h1>

            <h3>
                <mark style="background-color:black;color:white;">
                    {{firstInf.num}}° Circonscription du Départment [{{firstInf.department}}]
                </mark>
            </h3>

            <h3 style="color: {{firstInf.color}}; font-weight: bold; margin: 5px 0;">
                {{firstInf.party}}
            </h3>
            
            <img alt="Portrait du Député" src="https://www.assemblee-nationale.fr/dyn/static/tribun/17/photos/carre/{{firstInf.id}}.jpg" style="display: block; margin: 10px auto 0 auto; max-width: 200px; border-radius: 4px;">
            
            <h3 style="color: {{firstInf.color}}; font-weight: bold; margin: 5px 0;">
                Elo : {{firstInf.elo}}
            </h3>

            <form id="choice1" method="POST" action="{% url 'update_value' %}">
                {% csrf_token %}
                <input type="hidden" name="winSituation" value="first_wins">
                <input type="hidden" name="winnerRank" value="{{firstInf.rank}}">
                <input type="hidden" name="loserRank" value="{{secondInf.rank}}">
                <button  onclick="location.reload()" onmouseover="this.style.filter='brightness(1.2)'"  onmouseout="this.style.filter='brightness(1)'" onmousedown="this.style.filter='brightness(1.4)'" onmouseup="this.style.filter='brightness(1.2)'" style="transition: filter 0.2s ease; width:200px; display: block; margin: 15px auto 0 auto;border:none;border-radius:2px;background-color:{{firstInf.color}};color:white;font-weight:bold;font-family:'Orbitron', sans-serif;font-size:15px;" type="submit">Choisis-moi !</button>
            </form>
        </div>

        <div id="barre" style="width:2px;height:85vh;background-color:black;"></div>

        <div id="contestant2" style="text-align: center;">
            <h1 style="color:darkblue;">{{secondInf.name}} {{secondInf.surname}}</h1>

            <h3>
                <mark style="background-color:black;color:white;">
                    {{secondInf.num}}° Circonscription du Départment [{{secondInf.department}}]
                </mark>
            </h3>

            <h3 style="color: {{secondInf.color}}; font-weight: bold; margin: 5px 0;">
                {{secondInf.party}}
            </h3>

            <img alt="Portrait du Député" src="https://www.assemblee-nationale.fr/dyn/static/tribun/17/photos/carre/{{secondInf.id}}.jpg" style="display: block; margin: 10px auto 0 auto; max-width: 200px; border-radius: 4px;">
            
            <h3 style="color: {{secondInf.color}}; font-weight: bold; margin: 5px 0;">
                Elo : {{secondInf.elo}}
            </h3>

            <form id="choice2" method="POST" action="{% url 'update_value' %}">
                {% csrf_token %}
                <input type="hidden" name="winSituation" value="second_wins">
                <input type="hidden" name="winnerRank" value="{{secondInf.rank}}">
                <input type="hidden" name="loserRank" value="{{firstInf.rank}}">
                <button  onclick="location.reload()" onmouseover="this.style.filter='brightness(1.2)'"  onmouseout="this.style.filter='brightness(1)'" onmousedown="this.style.filter='brightness(1.4)'" onmouseup="this.style.filter='brightness(1.2)'" style="transition: filter 0.2s ease; width:200px; display: block; margin: 15px auto 0 auto;border:none;border-radius:2px;background-color:{{secondInf.color}};color:white;font-weight:bold;font-family:'Orbitron', sans-serif;font-size:15px;" type="submit">Choisis-moi !</button>
            </form>
            </div>
</form>
    </div>
    <div id="contact" style="height:50px;background-color:rgb(44, 44, 44);color:white;font-family:'Orbitron', sans-serif;font-size:15px;font-weight:bold;position:absolute;top:120%;width:100%;left:50%;transform:translate(-50%, -50%);display:flex;align-items: center;justify-content: space-around;">
        <!-- Put an <img> or an inline SVG inside an <a> -->
        <a class="icon-link" href="https://github.com/Sak-288/SMASH-or-PASS--the-bill-" aria-label="GitHub">
            <img src="{% static 'webapp/github-logo.png' %}" alt="Github Repo" width="40" height="40">
        </a>
        <a class="icon-link" href="/contact" aria-label="Contact">
            <img src="{% static 'webapp/email-logo.png' %}" alt="Contactez-nous" width="45" height="45">
        </a>
    </div>
    <script>
        // Save scroll position before leaving or reloading the page
        window.addEventListener("beforeunload", () => {
            sessionStorage.setItem("scrollPos", window.scrollY);
        });

        // Restore scroll position on load
        window.addEventListener("load", () => {
            const scrollPos = sessionStorage.getItem("scrollPos");
            if (scrollPos !== null) {
            window.scrollTo(0, parseInt(scrollPos));
            }
        });
    </script>
</body>
</html>